<div id="<%= dom_id disciplinas_pessoa %>">
  <p>
    <strong>Disciplina:</strong>
    <%= disciplinas_pessoa.disciplina_id %>
  </p>

  <p>
    <strong>Pessoa:</strong>
    <%= disciplinas_pessoa.pessoa_id %>
  </p>

</div>
