<h1>Editing disciplinas pessoa</h1>

<%= render "form", disciplinas_pessoa: @disciplinas_pessoa %>

<br>

<div>
  <%= link_to "Show this disciplinas pessoa", @disciplinas_pessoa %> |
  <%= link_to "Back to disciplinas pessoas", disciplinas_pessoas_path %>
</div>
