<p style="color: green"><%= notice %></p>

<h1>Disciplinas pessoas</h1>

<div id="disciplinas_pessoas">
  <% @disciplinas_pessoas.each do |disciplinas_pessoa| %>
    <%= render disciplinas_pessoa %>
    <p>
      <%= link_to "Show this disciplinas pessoa", disciplinas_pessoa %>
    </p>
  <% end %>
</div>

<%= link_to "New disciplinas pessoa", new_disciplinas_pessoa_path %>
