<h1>Editing computador</h1>

<%= render "form", computador: @computador %>

<br>

<div>
  <%= link_to "Show this computador", @computador %> |
  <%= link_to "Back to computadors", computadors_path %>
</div>
