<div id="<%= dom_id disciplinas_pessoa %>">
  <p>
    <strong>Disciplina:</strong>
    <%= disciplinas_pessoa.disciplina.nome %>
  </p>

  <p>
    <strong>Pessoa:</strong>
    <%= disciplinas_pessoa.pessoa.nome %>
  </p>

</div>
