<div id="<%= dom_id computador %>">
  <p>
    <strong>Numserie:</strong>
    <%= computador.numserie %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= computador.marca %>
  </p>

  <p>
    <strong>Pessoa:</strong>
    <%= computador.pessoa.nome %>
  </p>

</div>
