<h1>Editing disciplina</h1>

<%= render "form", disciplina: @disciplina %>

<br>

<div>
  <%= link_to "Show this disciplina", @disciplina %> |
  <%= link_to "Back to disciplinas", disciplinas_path %>
</div>
